body{
    background: url(./images/eternals.png);
    background-size: cover;

}

.form
{
    margin-top: 7%;
    margin-left: 10%;
    background-color: #0C0A00;
    padding: 50px 0px 50px 0px;
    width: 25%;
    border-radius: 20px;
    opacity: 80%;
    transition: transform .2s;
    overflow: hidden;
}
.form:hover
{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.02);
    overflow-y: hidden;
}

label
{
    font-family: "Cairo", sans-serif;
    font-size: 25px;
}
hr
{
    width: 60%;
    color: red;
    margin-bottom: 20px;
}

input
{
    outline: none;
    border: none;
    font-size: 15px;
    background-color: transparent;
    color: white;
    text-align: center;
}

.submit
{
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    background-color: #C0392B;
    border-radius: 20px  ;
}

.danger
{
    color: red;
    font-size: 15px;
    padding-left: 20px;
}